[Unit]
Description=my ftpd unit
After=network.target

[Service]
Type=simple
PIDFile=/root/ftpd/service.pid
WorkingDirectory=/root/ftpd
ExecStart=/usr/bin/python ftpd.py
Restart=always

[Install]
WantedBy=multi-user.target
