snippet fsigmodule "fsigmodule"
<fsigmodule name="${1:#name}" type="${2:#type}">
	${3}
</fsigmodule>
endsnippet

snippet input "input"
<input type="${1:#type}">${2:#signal}</input>
endsnippet

snippet param "param"
<param name="${1:#name}">${2:#value}</param>
endsnippet
